  


<nav class= "navbar navbar-toggleable-md bg-faded fixed-top">
<!-- Navigation navbar navbar-toggleable-md navbar-light bg-faded fixed-top-->
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><h1>Virtual Guide</h1></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!--button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
          aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><h1><img src="app/Images/logo.jpg" alt="Java For Beginners" height="50" width="50" align="middle">Scale-Up</h1></a>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/transfers" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/jobs" routerLinkActive="active">Course</a>
            <a class="nav-item nav-link" routerLink="/jobs/7" routerLinkActive="active">Blog</a>
      <a class="nav-item nav-link" routerLink="/jobs/7" routerLinkActive="active">About</a>
            <a class="nav-item nav-link" routerLink="/jobs/7" routerLinkActive="active">Contact</a>
    </div>

  </div-->




<!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in"><h1>Virtual Guide</h1></div>
          <div class="intro-heading">Start online learning today</div>

          <div class="col-md--5" align="center">
            <div class="input-group" id="adv-search" >
                <input type="text" class="form-control" placeholder="Course Search" />
                <div class="input-group-btn">
                   
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
          
        </div>
      </div>
      </div>
      </div>

    </header>



    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Browse Course by Categories</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="app/Images/java.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Java</h4>
              <p class="text-muted">Beginners</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="app/Images/android.png" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Android</h4>
              <p class="text-muted">App Development</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="app/Images/bigdata.jpg" alt="" >
            </a>
            <div class="portfolio-caption">
              <h4>BidData</h4>
              <p class="text-muted">Basics</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="app/Images/bigdata1.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Machine Learning</h4>
              <p class="text-muted">Basics</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="app/Images/download.jpg" alt="" height="200" width="400">
            </a>
            <div class="portfolio-caption">
              <h4>CSS</h4>
              <p class="text-muted">Website Design</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="app/Images/java1.jpg" alt="" height="200" width="400">
            </a>
            <div class="portfolio-caption">
              <h4>JAVA</h4>
              <p class="text-muted">Advanced JAVA</p>
            </div>
          </div>
        </div>
      </div>
    </section>

 

<!--div style="height: 305px">
<ngb-carousel>
  <ng-template ngbSlide>
    <img src="app/Images/java1.jpg" alt="Java For Beginners" height="600" width="99%" align="middle">
    <div class="carousel-caption">
      <h2>Java For Beginners</h2>
      <p>Something about the course</p>
     <button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Enroll
    </button>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="app/Images/android.png" alt="Android App Development" height="600" width="800" align="middle">
    <div class="carousel-caption">
      <h2>Android App Development</h2>
      <p>Something about the course</p>
     <button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Enroll
    </button>    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="app/Images/bigdata1.jpg" alt="BigData For Beginners" height="600" width="800" align="middle">
    <div class="carousel-caption">
      <h2>BigData For Beginners</h2>
      <p>Something about the course</p>
     <button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Enroll
    </button></div>
  </ng-template>
</ngb-carousel>
</div-->
